/*Font-family*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');
/*Project Defaults*/

:root {
    --fontfamily:'Space Grotesk', sans-serif;
    --primary-color:linear-gradient(from  hsl(249,99%,64%) to hsl(278,94%,30%));
    --error-color:  #ff5252;
    --white-color: hsl(0,0%,100%);
    --light-grayish-violet:hsl(270,3%,87%);
    --dark-grayish-violet:hsl(279,6%,55%);
    --very-dark-grayish-violet:hsl(278,68%,11%);
}

    /*--------Html----------- */
    
       
    
    /*--------Root----------- */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

    /*-------body------------ */
body
{
    font-size: 18px;
    font-family: var(--fontfamily);
    width: 100%;
       
}
    /*------------main------------------*/
.main-container
{
    background-color: var(--white-color);
    display: flex;
   
}
    /*-----------Containern wrapper-------------------------*/
.container-1
{
    width: 30%;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
      /*-----------Containern wrapper-------------------------*/
.container-2
{
    width: 65%;
    background-color:var(--white-color) ;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
/*------------------details----------------*/
.details
{
    text-align: start;
    margin: 200px 0;
 
}


/*===============================Inputs================*/
input,label
{
    display: flex;
    flex-direction: column;
    
}
        /*----------------text----------------*/
input[type="text"]
{
    font-size: 12px;
    margin:4px 0px;
    width: 100%;
    padding: 5px 2px;
    padding-right: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
   
}



.button
{
    background-color: var(--very-dark-grayish-violet);
    color: var(--white-color);
    border-radius: 4px;
    padding: 5px 110px;
    margin-top: 12px;
    display: block;
}
/*-----------     Label   -----------------------*/
label
{
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--fontfamily);
    
}
    /*-----------     dates   --------------------*/
.date
{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: -4px;
 
    
}
    /*-----------     CVC   --------*/
.cVc
{
    margin-top: -12px;
    margin-left: 4px;
}

    /*-----------     date and time  --------------------*/
input[type="datetime"]
{
    width: 60px;
    margin: 2px;
    border-radius: 5px;
    height: fit-content;
    padding: 5px;
    border: 1px solid rgba(0, 0,0, 0.2);
}
    /*=============== CVC name ===========*/
#cvcname
{
    width: 132px;
}

 /*=============== Card 1 ================*/
.card-1
{   background-image: url(./images/bg-card-front.png);
    height: 150px;
    border-radius: 6px;
    position: absolute;
    left: 18%;
    width: 280px;
    top: 26%;
}
.card-1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    
}

 
.borders
{
    display: inline-flex;
}
 /*=============== Card 1 text ===============================*/
.text-center
{
    background-color: var(--white-color);
    width: 25px;
    height: 25px;
    margin-left: 12px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.border-0
{
    width: 11px;
    height: 11px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 16px;
    margin-left: 10px;
}

.card-1>p{
    margin-left: 12px;
}
.card-1>.name
{
    display: inline-flex;
    justify-content: space-between;
    margin: 0 0 10px 12px;
}
.card-1 .number-0
{
    margin-right: 12px;
}

 /*=============== End of Card 1 =============================== */


    /*================ Card 21 =============================== */
.card-21
{   background-image: url(./images/bg-card-back.png);
    height: 150px;
    border-radius: 6px;
    position: absolute;
    left: 22%;
    width: 280px;
    bottom: 20%;

}
.card-21>p
{
    position: absolute;
    right: 12%;
    bottom: 23%;
    font-size: 13px;
    color: var(--white-color);
    
}

.errorCode, .errorName, .errorCvc, .errorCard
{
    display: none;
    font-size: 9px;
    margin-bottom: 5px;
    color: var(--error-color);
}
.errorDate
{
    display: block;
}
/* ========================== End of card 21=======================================*/


/*Media Query */
@media only screen and (min-width: 255px) and (max-width: 1044px)
{
    .main-container
{
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}
.container-1
{
    min-height: 30%;
    width: 100%;

}
.container-2
{
    min-height: 70%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
    
}
.card-1
{
    position: absolute;
    top: 21%;
    left:5%;
    width: 228px;
    height: 118px;
}
           
           
.card-21
{
    position: absolute;
    top: 8%;
    width: 211px;
    height: 103px;
    left: 13%;
}
.details
{
    text-align: start;
    margin: 110px 136px;
    
      
 
}
input[type="text"]
{
    font-size: 12px;
    margin:14px 0px;
    width: 100%;
    padding: 5px 2px;
    padding-right: 38px;
    border: 1px solid #ccc;
    border-radius: -3px;
  
}
.card-1>p{
    margin-left: 12px;
    bottom: 24%;
}
input[type="submit"]
{
    padding: 5px 96px;
    margin-left: 12px;
    margin-top: 2px;
}
.cVc
{
    margin-top: -25px;
}
.cvc
{
    padding-bottom: 1px;
}
.button
{
    padding: 5px 96px;
    margin-left: 12px;
    margin-top: 2px;
}
}
/*===== VERIFICATION =====*/
/*
#cardNumber:invalid
{
    border: 1px solid ;
    border-color: var(--error-color);
}

.errorName, 
.errorCode, .errorCvc

{
    color: var(--error-color);
    display: block;
}

#cvcname:invalid
{
    border: 1px solid;
    border-color: var(--error-color);
}
#mm:invalid, #yy:invalid
{
    border: 1px solid;
    border-color: var(--error-color);
}
*/
