@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


/* root element */
:root {
    --font-roboto: 'Poppins', sans-serif;
    --background-1: linear-gradient(180deg, #292f35 0%, #17191d 100%);
    --background-2: linear-gradient(135deg, #2F3439, #1D1F23);
    --background-3: linear-gradient(135deg, #2C3136, #1D2023);

    /*Border*/

    --border-1: #22262A;
    --border-2: #1A1D21;

    /* Box Shaddow */
    --box-shadow1: 6px 6px 10px #151618,
        -6px -6px 10px #263136,
        inset 2px 2px 6px #33353b,
        inset 3px 3px 6px #151618;
    --box-shadow2: 6px 6px 10px #151618,
        -6px -5px 9px #181c1e,
        inset 2px 2px 6px #33353b,
        inset 3px 3px 6px #151618;
    --box-shadow3: 6px 6px 10px #151618,
        -6px -6px 10px #263136#;
    --box-shadow4: inset 2px 2px 3px -2px rgba(167, 169, 161, 0.322),
        inset 0px -1px -1px 0px #4A4C4E;
    --box-shadow5: 8px 8px 12px #151618,
        -6px -6px 10px #222529,
        inset 2px 2px 6px #33353b,
        inset 3px 3px 6px #151618;
    --box-shadow6: 8px 8px 12px #151618,
        -6px -6px 10px #222529,
        inset 2px 2px 6px #33353b,
        inset -4px -4px 8px #151618;
    --box-shadow6: 10px 10px 12px #151618,
        -10px -10px 10px #222529,
        inset 2px 2px 6px #33353b,
        inset 4px 4px 8px #151618;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-roboto);
    background: var(--background-1);
    height: 100vh;
}

/* Wrapper */
.music-container {
    max-width: 900px;
    max-height: 100vh;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

header,
.song-timer,
.controls {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}



.left-arrow,
.list-btn {
    background-color: var(--background-2);
    border: 2px solid var(--border-1);
    box-shadow: var(--box-shadow1);
    width: auto;
    height: fit-content;
    border-radius: 50%;
    line-height: 17px;
    color: #86898C;
}

.left-arrow .fa-solid,
.list-btn .fa-solid {

    font-size: 16px;
    width: auto;
    height: auto;
    padding: 6px;
}

.left-arrow:active,
.list-btn:active {
    box-shadow: var(--box-shadow2)
}


header h3 {
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #86838c;
}

/* Music Player*/
.music-player {
    margin-top: 2rem;
}

.music-image img {
    width: 12rem;
    height: 11rem;
    margin-bottom: 2rem;
    border: 0.625rem solid var(--border-2);
    border-radius: 50%;
    box-shadow: var(--box-shadow3);
}

/* Song details */
.name {
    color: #86898C;
    font: size 1.5rem;
    text-transform: capitalize;
}

.artist {
    color: #8ac50a;
    text-transform: capitalize;
    padding: 0.625rem 0 1.25rem 0;
}

/* Audio Control */
.audio-control {
    margin: 0 1.175rem 1.875rem 1.175rem;
}

.song-timer {
    margin-bottom: 1.15rem;
    display: flex;
    justify-content: space-between;
}

.song-timer span {
    font-size: 0.625rem;
    color: #86898C;
    font-weight: 1000;
    margin: 0 0.75rem;
}

/* Progress Area */
.progress-area {
    height: 0.2375rem;
    width: 100%;
    margin-top: 0.9375rem;

    background: var(--background-3);
    box-shadow: var(--box-shadow2)
}

.progress-bar {
    height: inherit;
    width: 0;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #bf2311 0%, #e5130a 80%);
    box-shadow: var(--box-shadow4);
}

.progress-bar::before {
    content: "";
    position: absolute;
    background: var(--background-2);
    box-shadow: var(--box-shadow5);
    border-radius: 50%;
    top: 50%;
    right: -0.875rem;
    z-index: 2;
    width: 1.25rem;
    height: 1.25rem;
    outline: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

.progress-bar::after {
    content: "";
    position: absolute;
    background: #e5950a;
    box-shadow: var(--box-shadow5);
    border-radius: 50%;
    top: 50%;
    right: -0.675rem;
    z-index: 2;
    width: 0.55rem;
    height: 0.55rem;
    outline: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}

/* Controls */
.controls {
    margin: 2.4375rem 0.5rem 0.3125rem 0.5rem;

}

.prev,
.next {
    width: 2.375rem;
    height: 2.375rem;
    border: 0.1875rem solid var(--box-shadow5);
    transition: all .2s ease;
    background: var(--background-3);
    border-radius: 50%;
    text-align: center;

}

.prev:active,
.next:active {
    box-shadow: var(--box-shadow6);
}

.controls i {
    font-size: 0.95rem;
    user-select: none;
    color: #575a57;
    cursor: pointer;
}

.controls .pause {
    width: 2.375rem;
    height: 2.375rem;
    border: 0.1875rem solid var(--box-shadow5);
    transition: all .2s ease;
    background: var(--background-3);
    border-radius: 50%;


}

.pause i {
    text-align: center;
    color: rgb(157, 140, 140);

}