       /*Google Fonts */
       
       @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
       * {
           font-family: 'Poppins', sans-serif;
           margin: 0;
           padding: 0;
           scroll-padding-top: 1rem;
           list-style: none;
           text-decoration: none;
           box-sizing: border-box;
       }
       /*variables */
       
        :root {
           --main-color: #d90429;
           --text-color: #020102;
           --bg-color: #fff;
       }
       
       section {
           padding: 4rem 0 2 rem;
       }
       
       img {
           -width: 100%;
       }
       
       body {
           color: nav(--main-color)
       }
       
       .container {
           max-width: 1068px;
           margin-left: auto;
           margin-right: auto;
       }
       
       .header {
           display: block;
           width: 100%;
           position: fixed;
           top: 0;
           z-index: 100;
       }
       
       .nav {
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding: 20px 35px;
       }
       
       #menu-icon {
           font-size: 24px;
           cursor: pointer;
           color: var(--text-color);
           display: (none);
       }
       
       .logo {
           font-size: 1.2rem;
           font-weight: 700;
           color: var(--text-color);
       }
       
       .logo span {
           color: var(--main-color);
       }
       
       .navbar {
           display: flex;
           column-gap: 2rem;
       }
       
       .navbar a {
           color: nav(--main-color);
           font-size: 1rem;
           text-transform: uppercase;
           font-weight: 500;
       }
       
       a:hover,
       .navbar.active {
           color: var(--main-color);
           border-bottom: 3px solid var( --main-color)
       }
       
       #search-icon {
           font-size: 24px;
           cursor: pointer;
           color: var(--bg-color);
       }
       
       .search-box {
           position: absolute;
           top: 110%;
           right: 0;
           left: 0;
           background: var(--bg-color);
           box-shadow: 4px 4px 42px rbg(15 54 55/10%);
           border: 1px solid var(--main-color);
           border-radius: 0.5rem;
           clip-path: circle(0% at 100% 0%);
       }
       
       .search-box.active {
           clip-path: circle(144 at 100% 0%);
           transition: 0.4s;
       }
       
       .search-box input {
           width: 100%;
           padding: 0px;
           border: none;
           outline: auto;
           background: transparent;
           font-size: rem;
       }
       
       .home {
           max-width: 1300px;
           margin: auto;
           width: 100%;
           min-height: 640px;
           display: flex;
           align-items: center;
           background: url(/images/hunter-newton-BgZFS8DPg0I-unsplash.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center right;
       }
       
       .home-text {
           padding-left: 130px;
       }
       
       .home-text h1 {
           font-size: 2.4rem;
       }
       
       home-text span {
           color: var(--main-color);
       }
       
       .home-text p {
           font-size: 0.93rem;
           font-weight: 300;
           margin: 0.5rem 0 1.2rem;
       }
       
       .btn {
           padding: 10px 22px;
           background: var(--main-color);
           color: var(--bg-color);
           font-weight: 400;
       }
       
       .btn:hover {
           background: #fd052f;
       }
       
       .heading {
           text-align: center;
       }
       
       .heading span {
           font-weight: 500;
           color: var(--main-color);
       }
       
       .heading p {
           font-size: 0.938rem;
           font-weight: 300;
       }
       
       .cars-container {
           display: flex;
           flex-wrap: wrap;
           gap: 2rem;
           margin-top: 2rem;
       }
       
       .cars-container .box {
           flex: 1 1 17rem;
           position: relative;
           height: 200px;
           border-radius: 0.5m;
           overflow: hidden;
       }
       
       .cars-container .box img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           overflow: hidden;
       }
       
       .cars-container .box img:hover {
           transform: scale(1.1);
           transition: 0.5s;
       }
       
       .cars-container .box h2 {
           position: absolute;
           bottom: 1rem;
           left: 1rem;
           font-weight: 400;
           font-size: 1rem;
           background: var(--bg-color);
           padding: 8px;
           border-radius: 0.5rem;
       }
       
       .cars-container .box:hover h2 {
           background: var(--main-color);
           color: var(--bg-color);
       }