body{
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
}

.music{
    width: 300px;
    height:200px;
    position:relative;
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
}

.music .bar{
    width:12px;
    border-radius: 10px;
    background: #fff;
    animation : move 1.5s ease-in-out infinite; 
}

@keyframes move {

    0%,100%{
        height:2px;
    
    }
    50%{
        height: 80px;
    }
}

.music .bar:nth-child(1){
    background:pink;
    animation-delay:1s;
}
.music .bar:nth-child(2){
    background:pink;
    animation-delay:.8s;
}
.music .bar:nth-child(3){
    background:pink;
    animation-delay:.6s;
}
.music .bar:nth-child(4){
    background:pink;
    animation-delay:.4s;
}
.music .bar:nth-child(5){
    background:pink;
    animation-delay:.2s;
}
.music .bar:nth-child(6){
    background:pink;
    animation-delay:.2s;
}
.music .bar:nth-child(7){
    background:pink;
    animation-delay:1s;
}
.music .bar:nth-child(8){
    background:pink;
    animation-delay:1s;
}
.music .bar:nth-child(9){
    background:pink;
    animation-delay:1s;
}
.music .bar:nth-child(10){
    background:pink;
    animation-delay:1s;
}
