@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');


:root {
    --primary-color: #30bf7c;
    --sec-color: #ffba43;
    --backgr-color: #e9efed;
    --black-primary: #1c2137;
    --white: #fff;
    --box-shaddo: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --red-color: rgb(235, 12, 12);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar {
    width: .8rem
}

html::-webkit-scrollbar-track {
    background: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    border: none;
    transition: .2s linear;
    font-size: 16px;
}

.tel-details {
    display: flex;
    justify-content: space-between;
    background: var(--sec-color)
}

.telephone,
.language {
    display: inline-flex;
    padding: 7px;
}

.telephone>p,
.language>p {
    margin-left: 12px;
    font-size: 12px;

}

.telephone>p {
    text-transform: lowercase;
}

.telephone .fas {
    padding-right: 7px;
}

/*-----------------Header------*/
.header {
    display: flex;
    background: var(--backgr-color);
    justify-content: space-around;

}

.header::after {
    content: "";
    clear: both;
}

.header>div {
    display: flex;
    align-self: center;
    padding: 12px;
    text-align: center;

}

.logo a {
    color: var(--primary-color);
    text-decoration: none;
}

.navbar {}

.navbar a {
    color: var(--black-primary);
    text-decoration: none;
    margin-left: 40px;
    transition: .4s;
    flex-direction: row;
    align-self: center;

}

.navbar a:hover {
    color: var(--sec-color);
    border-bottom: 1px dotted var(--primary-color);
}

.iconMenu {
    display: flex;
    justify-content: space-between;

}

.iconMenu .search-bar {
    width: max-content;
    display: flex;
    border-radius: 12px;
    background: var(--primary-color);
    text-align: center;
    padding: 0 7px 0 0;
}


.iconMenu .search-bar input {
    width: 100%;
    padding: 4px;
    outline: none;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.iconMenu .search-bar i {
    margin-left: 7px;
    align-self: center;
    color: var(--white)
}

.iconMenu .search-bar i:hover {
    color: var(--sec-color);
    cursor: pointer;
}

.iconMenu .fas {
    margin-left: 22px;
    padding: 1px;
    display: flex;
    align-self: center;

}

.iconMenu #login-btn {
    font-size: 12px;
    padding: 8px 12px;
    border: 1px solid var(--black-primary);
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 12px;
    border: none;


}

.iconMenu #login-btn:hover {
    font-size: 12px;
    padding: 8px 12px;
    border: 1px solid var(--black-primary);
    background-color: var(--sec-color);
    color: var(--white);
    border-radius: 12px;
    border: none;
    cursor: pointer;

}

.iconMenu #cart-btn:hover {
    color: var(--sec-color);
    cursor: pointer;
}

.iconMenu #cart-btn {
    color: var(--primary-color);
}

.iconMenu #cart-btn span {
    position: relative;
    top: -5px;
    right: 2px;
    padding: 2px;
    font-size: 7px;
    color: var(--red-color)
}

#bars-btn {
    display: none;
}


.landing-page {
    display: flex;

}

.landing-text {
    width: 50%;
    float: left;

}

.landing-text .text-l {
    display: block;
    margin: 0 auto;



}

.landing-image {
    width: 50%;
    float: left;
}











@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--white);
        width: 30%;
    }

    .navbar a {
        margin: 12px;
        padding: 8px 0;
        width: 100%;

    }

    .navbar a:hover {
        background: var(--sec-color);
        color: var(--primary-color)
    }
}