section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 95%;
    margin: auto;
}


/* Hero section */
.about-hero {
    background-image: url('../images/coffee-4.jpg');
    height: 80vh;
    /* Making a fully fit height */
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    background-size: cover;


    display: flex;
    justify-content: center;
    align-items: center;


}

.about-hero .text {
    text-align: center;
}

/* OUR MISSION */
.mission {}

.mission .wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 34);
    padding: 1rem 0.7rem;
}

.ourMission_text {
    text-align: center;
}

.ourMission_text p {
    margin: 1rem 0rem;
    font-size: 0.9rem;
}

.ourMission_text .btn {
    width: 70%;
    margin: auto;
}

.ourMission_images {
    /* Create top margin */
    margin: 1rem 0rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    overflow: hidden;
}

.block-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: auto;
}

.block-1 div {
    height: 140px;
    width: 130px;
    background-color: rgb(55, 59, 55);
}

.block-2 {
    background-color: rgb(51, 56, 56);
}

/* OUR TEAM */
.our-team {}

.our-team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team .wrapper {
    display: flex;
    width: 100%;
    padding: 3rem 1rem;
}



.our-team_cards {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
}

.our-team_cards .card:not(:first-child) {
    margin-left: 1rem;
}

.card {
    padding: 1rem;
    position: relative;
    height: 300px;
    width: 300px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    /* not supported by firefox, safari */
    backdrop-filter: blur(10px);
}

.card .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 1;
    transition: 0.5;
}

.card:hover .content {
    opacity: 0.5;
}

.content .text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content .text h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin: 20px 0 10px;
}

.content .text p {
    font-size: 1rem;
    font-weight: 300;
    text-transform: initial;
}

.content .image {
    height: 50%;
    width: 100%;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.01);
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card .social-links {
    position: absolute;
    bottom: 50px;
    display: flex;
}

.social-links ul {
    display: flex;
}

.social-links li {
    list-style-type: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
}


.social-links li a {
    color: #fff;
}

/* -------------- TABLET -------------------*/

@media screen and (min-width: 768px) {
    .wrapper {
        width: 95%;
        margin: 3rem 2rem;

    }

    .mission .wrapper {
        flex-direction: row;
        justify-content: space-between;

    }

    .ourMission_text {
        width: 45%;


        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ourMission_images {
        width: 50%;
    }

    .block-1 div {
        height: 160px;
        width: 170px;

    }


    .our-team_cards {
        grid-template-columns: repeat(4, 1fr);
    }


}

/* -------------- DESKTOP -------------------*/
@media screen and (min-width:968px) {

    .wrapper {
        width: 85%;
        margin: 3rem 2rem;
    }


    .ourMission_images {
        width: 50%;
    }


    .block-1 div {
        height: 200px;
        width: 250px;
    }

}