@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300&display=swap");

:root {
  /* fonts */

  /* font  weight */

  /* transition */
}

:root {
  /* colors */
  --background-dark: #222222;
  /* Dark blackish gray background */
  --background-light: #ffffff;
  /* Good whitish color for body and sections */
  --primary-orange: #ffa909fb;
  --grayish: #333333;

  /* box shaddow */
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow-offset-x: 0;
  --box-shadow-offset-y: 4px;
  --box-shadow-blur-radius: 10px;
  --box-shadow-spread-radius: 0;
  --box-shadow-transition-duration: 0.3s;

  /* fonts */
  --paragraph: 1.3rem;
  --small-paragraph: 0.7rem;
  --header: 3.5rem;
  --button-text: 1.1rem;
  --medium-text: 2.6rem;
  --header-section: 2.2rem;
  /* screen size */
  --desktop-width: 85%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-dark);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-family: "Roboto", sans-serif;

  color: #ffffff;
}

/* reset size  and margin */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

/* set default size */
h1 {
  font-size: var(--header);
  font-weight: 700;
}

h2 {
  font-size: var(--medium-text);
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: var(--button-text);
}

p {
  font-size: var(--paragraph);
}

a {
  text-decoration: none;
  color: var(--background-light);
}


i {
  color: var(--primary-orange);
}

li {
  list-style-type: none;
}


section {
  padding: 2rem 0rem;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem 2rem 0rem;
}

.section-header h3 {
  font-size: var(--header-section);
  text-align: center;
  color: orangered;

  position: relative;
}

.section-header h3::after {
  content: "";
  display: block;
  position: absolute;
  width: 80px;

  height: 3px;
  background: white;
  bottom: -5px;
  left: 30%;
}


.container {
  width: 90%;
  margin: auto;
}

.button {
  position: relative;
}

/* 
.btn-cover {
background-color: var(--primary-orange);
  border-radius: 2rem 0rem;
  width: 30%;
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
} */

.button .text {
  width: 50%;
}

.btn {
  padding: 0.5rem 0.9rem;
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: var(--button-text);
  font-weight: 600;

  text-align: center;

  background-color: var(--primary-orange);
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* ----------------------- HEADER -------------------------*/

header {
  display: flex;
  background-color: var(--grayish);
  padding: 1rem 2rem;
}

nav {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}

.logo {
  display: grid;
  place-items: center;
  margin: 0 1.5rem;
}

.logo i {
  color: var(--primary-orange);
}

.toggle-sidebar i {
  font-size: 1.4rem;
}

.toggle-sidebar .fa-close {
  display: none;
}

/* ----------------------- HERO -------------------------*/

.hero {
  height: 80vh;
  background-color: var(--background-dark);
  background-image: url("/images/coffee.jpg");
  background-position: center;
  background-size: cover;
}

.hero .container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0rem 1rem;
}


.hero .text .colored-text {
  color: var(--primary-orange)
}


.hero .image {
  display: none;
}

/* create a top and bottom margin between the  elements */
.hero .text p {
  margin: 2rem 0rem;
}

/* -----------------  ------ COFFEE LIST -------------------------*/

.coffee_list {}

.coffee_list .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  margin: auto;
}

article {
  border: 1px solid white;
  padding: 1rem;
}

article .text h3 {
  margin: 0.5rem 0rem;
  text-transform: uppercase;

}

article .text p {
  font-size: var(--small-paragraph);

}



/* ----------------------- INTRODUCTION -------------------------*/
.introduction {
  background-color: #333333;
  display: grid;

}


.introduction .container {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 2rem 1rem;
  height: 100%;

}

.introduction .image {
  background-image: url('../images/coffee-9.jpg');
  height: 30vh;

  width: 100%;
  margin: auto;
  border-radius: 12px;
}

.introduction .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.introduction .text p {
  font-size: var(--small-paragraph);

}

.introduction .spacing-item {
  margin: 1rem 0rem;
}


/* ----------------------- SPECIAL COFFEE -------------------------*/


/* The cards styling are shared among all the cards in the apllication
    - The display is flex except for blog section */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.cards article {
  border: 1px solid rgb(243, 243, 242);
  padding: 0.7rem;

  border-radius: 12px;
}


article .text h3 {
  margin: 0.5rem 0rem;
  text-transform: uppercase;

}

article .text p {
  font-size: var(--small-paragraph);
}


.special_coffee article .image {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.special_coffee article:nth-child(1) .image {
  background-image: url('../images/coffee-2.jpg');
}


.special_coffee article:nth-child(2) .image {
  background-image: url('../images/coffee-3.jpg');
}

.special_coffee article:nth-child(3) .image {
  background-image: url('../images/coffee-7.jpg');
}


.special_coffee article:nth-child(4) .image {
  background-image: url('../images/coffee-6.jpg');
}



/* select last child */
.special_coffee .text div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
}

.special_coffee i {
  font-size: 1.4rem;
}

/* ----------------------- BREAKFAST SNACKS -------------------------*/

.breakfast-snacks {
  background-color: #333333;
}

.breakfast-snacks .card-list {
  margin: 0rem 0rem 1rem 0rem;
}

.breakfast-snacks .card-list ul {
  display: flex;

}

.breakfast-snacks .card-list ul li:not(:last-child) {
  margin-right: 1rem;
}

.blog-card .btn {
  margin: 1rem 0rem;
}

.blog-card article h4 {
  margin: 1rem 0rem;
}

.blog-card .cards {
  display: grid;
  height: 100%;
}

/* ----------------------- NEWS LETTER -------------------------*/

.newsletter {
  height: max-content;
  background-color: #333333;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.newsletter .text {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0rem;


}

.newsletter .text h2 {
  font-size: 1.8rem;

}

.newsletter .input {
  display: flex;


  height: max-content;
  margin: 1rem 0rem;
}

.input input {
  border: none;
  padding: 0 2rem;

  width: 70%;
}


/* ----------------------- FOOTER -------------------------*/



footer {
  background-color: #222222;
}

footer .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.footer_social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem
}



/* styles for social links
- twitter facebook, instagram individual styles 
*/

.social-links {
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
}

/* Make all links have left margin except the first child */
.social-links p:not(:first-child) {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.social-links p i {
  font-size: 1.4rem;
}

.footer_contacts {
  display: flex;
  justify-content: center;
}

.footer_contacts div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.footer_contacts h3 {
  font-size: 1.3rem;
}

.footer_contacts p {
  font-size: 1.1rem;
  color: var(--primary-orange)
}

.footer_contacts p span {
  color: white;
  font-size: 0.8rem;
  text-align: start;
}

.copyright {
  padding: 1rem 0rem;
  text-align: center;
  border-top: 1px solid gray;
  ;
}

/* ---------------------------------------------------------------*/
/* ----------------------- MEDIA QUERIES -------------------------*/
/* ---------------------------------------------------------------*/

/* -------------- TABLET -------------------*/

@media screen and (min-width: 768px) {

  .container {
    width: 90%;
  }

  .toggle-sidebar {
    display: none;
  }

  /* ------ HERO -----------*/

  .hero .container {
    width: 80%;
    margin: auto;
  }

  .hero .image {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  /* ------ COFFEE LIST -----------*/

  .coffee_list .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;

    margin: auto;
  }

  /* ------ INTRODUCTION -----------*/
  .introduction {
    height: 50vh;
  }

  .introduction .container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

  }

  .introduction .image {
    background-image: url('../images/coffee-9.jpg');
    height: 100%;
    width: 100%;
  }

  .introduction .text {
    width: 80%;
  }

  /*-------------_____SPECIAL COFFEE____---------------------*/
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /*------------------------__FOOTER ----------------------------------*/

  footer .wrapper {
    grid-template-columns: 1fr 2fr;
  }

}



/* -------------- DESKTOP -------------------*/
@media screen and (min-width:968px) {
  .container {
    width: 70%;
  }

  .introduction .container {
    grid-template-columns: repeat(2, 1fr);

  }



  /* ------ COFFEE LIST -----------*/
  .coffee_list .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4rem;

    margin: auto;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

}