* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section {
    width: 100%;
    height: 60vh;
    background-color: #ddd;
}

.container {
    width: 80%;
    display: block;
    padding-top: 3.625rem;
    margin: 0 auto;
}

.cont-section {
    float: left;
    width: 50%
}

.cont-section .title {
    text-transform: uppercase;
    font-size: 1.125rem;

}

.cont-section  .content {
    margin-top: 1.125rem;
    color: #5d5d5d;
}

.image-section {
    float: right;
    width: 40%
}

.image-section img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
}