* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.section {
    width: 100%;
    min-height:45vh;
    background-color: #ddd;
}

.container {
    width: 80%;
    display: block;
    padding-top: 0.625rem;
    margin:0 auto;
}

.cont-section {
    float: left;
    width: 50%
}

.image-section {
    float: right;
    width: 40%
}

.image-section img{
    width:100%;
    height: auto;
}