/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap");

/* universal configuration */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* DEFAULTS */
:root {
  --primary-color: #6c68ff;
  --sucess-color: #00bf8e;
  --warning-color: #f7c94b;
  --danger-color: #f75842;
  --danger-variant-color: rgba(247, 88, 66, 0.4);
  --white-color: #fff;
  --light-color: rgba(255, 255, 255, 0.7);
  --black-color: #000;
  --background-color: #1f2641;
  --background-color-1: #2e3267;
  --background-color-2: #424890;

  /* Container size Width points*/
  --container-lg: 80%;
  --container-md: 90%;
  --container-sm: 94%;

  /* transitions */
  --transition: all 400ms ease;
}

/* Body setup */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--white-color);
  background: var(--background-color);
}

/* Common width */
.container {
  width: var(--container-lg);
  margin: auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--white-color);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--white-color);
  color: var(--black-color);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;

  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--white-color);
  border-color: var(--white-color);
}

.btn-primary {
  background: var(--danger-color);
  color: var(--white-color);
}

/* _______________NAVBAR__________________ */

nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav-menu a:hover {
  color: var(--background-color-1);
}

/* Change navbar styles scroll using javascript */
.window-scroll {
  background: var(--primary-color);
  box-shadow: 0 1rem rgba(0, 0, 0, 0.2);
}

/*________________HEADER _________________*/
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header-left p {
  margin: 1rem 0 2.4rem;
}

/*________________ CATEGORIES _________________*/
.categories {
  background: var(--background-color-1);
  height: 29rem;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories-container {
  display: grid;
  grid-template-columns: 40% 60%;
  /* gap: 4rem; */
}
.categories-left {
  margin-right: 2rem;
}

.categories-left p {
  margin: 3rem 0 2rem;
  font-size: 0.9rem;
}

.categories-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background: var(--background-color-2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.category:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.category:nth-child(2) .category-icon {
  background-color: var(--danger-color);
}
.category:nth-child(3) .category-icon {
  background-color: var(--sucess-color);
}
.category:nth-child(4) .category-icon {
  background-color: var(--warning-color);
}
.category:nth-child(5) .category-icon {
  background-color: var(--sucess-color);
}

.category-icon {
  background: var(--primary-color);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.category h5 {
  margin: 2rem 0 1rem;
}

.category p {
  font-size: 0.65rem;
}

/*________________  COURSES  _________________*/
.courses {
  margin-top: 10rem;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background-color: var(--background-color-1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover {
  background: transparent;
  border-color: var(--primary-color);
}

.course-content {
  padding: 2rem;
}

.course-content p {
  margin: 0.7rem 0 2rem;
  font-size: 0.8rem;
}

/*________________  FAQS  _________________*/
.faqs {
  background: var(--background-color);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--primary-color);
  cursor: pointer;
}

.faq h4 {
  font-size: 1.2rem;
  line-height: 2;
}

.faq-icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  font-size: 0.9rem;
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* TESTIMONIALS */
.testimonial-container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial {
  padding: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--background-color);
}

.testimonial-info {
  text-align: center;
}

.testimonial-body {
  background: var(--primary-color);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial-body::before {
  content: "";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color)
  );
  width: 3rem;
  height: 3rem;
  position: relative;
  left: 50%;
  top: -3.5rem;
  transform: rotate(45deg);
}
