:root {
  /* primary colors */
  --white: #fff;
  --grayish: rgba(218, 222, 226, 0.932);
  --black: #111;
  --primary-color-2: rgb(27, 110, 110);
  --primary-color: rgb(118, 82, 237,0.7);

  --background-1: rgba(22, 22, 22, 0.904);
  --star-color: rgb(255, 208, 0);

  /* Fonts */
  --paragraph: 1.6rem;
  --header-main: 2.8rem;
  --header-main-desktop: 3.2rem;
  --section-header: 1.9rem;
  --medium-text-desktop: 1.3rem;
  --medium-text: 0.9rem;
  --icon-font: 1.6rem;

  /* Font weight */
  --weight-200: 200;
  --weight-700: 700;
  --weight-400: 400;

  /* Padding */
  --desktop-padding: 2rem 7rem;
  --mobile-padding: 0.8rem 0.5rem;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-color);
}

h1 {
  font-size: var(--header-main);
}

h2 {
  font-size: var(--section-header);
}

h3 {
  font-size: var(--medium-text);
  color: var(--primary-color);
  text-transform: uppercase;
  
}
p {
  font-size: var(--paragraph);
}

a {
  text-decoration: none;
  color: var(--white);
}

.btn {
  border: 0.1rem solid var(--primary-color);
  color: var(--white);

  font-size: 1.1rem;
  padding: 0.8rem;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.section-text {
  font-size: var(--medium-text);
}

.heading h3 {
  font-size: var(--section-header);
  color: var(--white);
}

.heading p {
  font-size: var(--medium-text);
  text-transform: uppercase;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
  flex-direction: column;
}

.icon i {
  font-size: var(--icon-font);
  color: var(--primary-color);
}

.container {
  padding: var(--mobile-padding);
}

/*  ------------------ HEADER -----------------------*/
header {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-1);
  align-items: center;
  padding: 1rem 0.8rem;
}

/* logo */
.logo h3 {
  color: var(--white);
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
  text-transform: uppercase;
}

header div {
  width: 30%;
}
nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  text-transform: uppercase;
}

nav ul li:not(:last-child) {
  margin-right: 1rem;
}

/*  ------------------ HERO -----------------------*/

.hero-container {
  background-image: url("../images/light-1.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(29, 29, 34);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container .text h1 {
  color: var(--white);
  margin: 1.7rem 0rem;
}

.hero-container .text p {
  text-transform: uppercase;
}
.hero-container .getting-started {
  width: 60%;
}

.cards {
  display: grid;
  gap: 0.2rem;
  align-self: center;
  margin: 1.2rem 0rem;
}

.card {
  background-color: #1f2022b0;
  border: 1px solid #adabab;
      padding: 1rem 1.4rem;
}

.card {
  padding: 1rem 0.4rem;
}

.card:nth-child(even) {
  border: 1px solid var(--primary-color);
}

.card p {
  color: var(--grayish);
  font-size: var(--medium-text);
  font-style: italic;
  font-weight: 300;
  margin:1rem 0rem;
}
/*  ------------------ SERVICES -----------------------*/
.services {
  background-color: var(--black);
}
.services-container .cards .card {
  border-bottom: 3px solid var(--white);
}


/* colored icons */
.services-container .web-dev{
  background:var(--primary-color);
}

.services-container .web-dev{
  background:var(--primary-color);
}

/*---------------------- MEDIA QUERIES--------------------------------- */
/* TABLET */
@media (min-width: 768px) and (max-width: 968px) {
  /* hero */
  .hero {
  }
  .text-wrapper {
    width: 50%;
  }
  .hero-container .getting-started {
    width: 50%;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* DESKTOP */
@media (min-width: 968px) {
  .section-text {
    font-size: var(--medium-text-desktop);
  }
  h1 {
    font-weight: var(--header-main-desktop);
  }

  .cards {
    gap: 1.4rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    padding: 2rem 2.2rem;
  }

  .container {
    padding: var(--desktop-padding);
  }

  /* hero container */

  .hero-container {
    height: 80vh;
    
  }

  .text-wrapper {
    width:40%;
  }

  .hero-container .getting-started {
    width: 50%;
  }
}
